@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row vertical-center">
    <div class="col-md-12">
        <div class="jumbotron" >
            <h1 class="text-center">Welcome to WebChat!</h1>
        </div>
    </div>
</div>